<h1>Fill in parameters</h1>
<h2><%= presenter.caption %></h2>

<form action='<%= run_search_url %>' id="rp_form" method=post class="crossbeams-form"
  onsubmit="crossbeamsDataMinerParams.storeCurrentParams('<%=presenter.rpt_id%>'); crossbeamsUtils.addJSONVarToForm('rp_form', crossbeamsDataMinerParams.current_values);">
  <input type="hidden" name="id" value="<%=presenter.rpt_id%>">
  <%= csrf_tag %>
  <div class="crossbeams-row">
    <div class="crossbeams-col">
      <div class="crossbeams-field">
        <a href="#" id="reloadParams" style="display:none" onclick="crossbeamsDataMinerParams.loadCurrentParams()">get previous parameters</a>
      </div>
      <div class="crossbeams-field">
        <label for="limit">Limit</label>
        <input id="limit" class="cbl-input" style="flex-grow:initial" type="number" name='limit' min="1" size="20" value="<%= presenter.rpt.limit %>" />
      </div>
      <div class="crossbeams-field">
        <label for="offset">Start from (offset)</label>
        <input id="offset" class="cbl-input" style="flex-grow:initial" type="number" name='offset' min="1" size="20" value="<%= presenter.rpt.offset %>" />
      </div>

      <h3>Choose parameters</h3>
      <select id="select_param">
        <%= make_options(presenter.qps.map { |qp| [qp.caption, qp.column] }.unshift(["Select a parameter to apply", nil])) %>
      </select>
      <div id="qp_form" style="display:inline-block"></div>
      <div id="param_display"></div>

      <div class="crossbeams-actions">
        <input type="submit" name="btnSubmit" value="Run report" data-disable-with="Running..." class="white bg-green br2 dim pa3 ba b--near-white">
        <button type='submit' id="run_excel" name="btnSubmit" formaction="<%= run_to_excel_url %>" data-briefly-disable-with="Create Excel report" class="near-white bg-green br2 dim pa3 ml4 ba b--near-white disabled"><%= Crossbeams::Layout::Icon.render(:excel) %> Download Excel report</button>
      </div>
    </div>
  </div>
</form>

<% content_for :late_javascript do %>
<script>
  crossbeamsDataMinerParams.init('rp_form', '<%= presenter.rpt_id %>', <%= make_query_param_json(presenter.qps).gsub('&quot;', '"') %>);
<% if presenter.load_params %>
  crossbeamsDataMinerParams.loadCurrentParams();
<% else %>
  crossbeamsDataMinerParams.buildReloadButton();
<% end %>
</script>
<% end %>

